.container-solucoes {
   display: flex;
   margin: -8px;
   margin-top: 8px;
   height: 575px;
   background-color: #1c4cac;
}

.container-solucoes h2 {
   display: flex;
   font-size: 40px;
   color: #ffffff;
   margin-left: 180px;
   margin-top: 245px;
}

.container-solucoes p {
   width: 670px;
   padding: 15px;
   font-size: 18px;
   color: #ffffff;
   margin-top: 182px;
   margin-left: 8px;
}

.linha-vertical {
   border-left: 1px solid hsla(0, 0%, 100%, .3);
   height: 194px; 
   margin: 0 10px; 
   margin-top: 180px;
   margin-left: 35px;
}
