.navbar {
   display: flex;
   height: 200px;
   
   margin: -8px;
   justify-content: space-between;
   align-items: center;

   background-color: #0095DB;
}

.navbar img {
   margin-left: 200px;
   width: 218px;
   height: 53px;
}

.list {
   display: flex;
   margin-right: 140px;
   list-style: none;
   align-items: center;
}

.list li:hover {
   color: #C8C8C8;
   transition: 0.5s;
}

.item {
   margin-right: 1em;
   font-size: 18px;
   color: #ffffff;
   font-weight: bold;
}

button {
   height: 43px;
   border: 2px solid #ffffff;
   background: #0095DB;
}

button:hover {
   color: #0095DB;
   transition: 0.5s;
   background: #ffffff;
}
