.navbar {
   display: flex;
   position: sticky;
   height: 200px;
   top: 0;

   margin: -8px;
   justify-content: space-between;
   align-items: center;

   border-bottom: 11.4px solid #ffffff;
   background-color: #0095DB;
   transition: 0.3s;
   cursor: pointer;
   z-index: 10;
}

.small {
   height: 90px;
   transition: 0.3s;
 }

.navbar img {
   margin-left: 200px;
   width: 218px;
   height: 53px;
}

.list {
   display: flex;
   margin-right: 140px;
   list-style: none;
   align-items: center;
}

.list .item:hover {
   color: #C8C8C8;
   transition: 0.5s;
}

.item {
   margin-right: 1em;
   font-size: 18px;
   color: #ffffff;
   font-weight: bold;
}

.button {
   margin-right: 1em;
   font-size: 18px;
   color: #ffffff;
   font-weight: bold;

   width: 145px;
   height: 43px;
   border: 2px solid #ffffff;
   background: #0095DB;
}

.button:hover {
   color: #0095DB;
   transition: 0.5s;
   background: #ffffff;
}

.logo:active {
   border: 1px solid #ffffff; 
   opacity: 0.8; 
}