.container-quem-somos {
   height: 513px;
   margin: -8px;
   background-color: #164194;
}

.container-quem-somos h1 {
   display: inline-block;
   position: relative;
   
   margin-top: 0;
   top: -0.7rem;
   margin-left: 175px;

   font-size: 40px;  
   color: #ffffff;  
   border-top: 0.7rem solid #0095db;
}

.descricao {
   width: 877px;
   height: 269px;
   padding: 40px;
   margin: 0px 0px 0px 375px;
   border: 8px solid #ffffff;
}

.descricao p {
   font-size: 16px;
   
   margin: 0px 0px 30px 0px;
   color: #ffffff;
   max-width: 880px;
}

.linha {
   width: 346px;
   border-bottom: 3px solid #ffffff;
}

.container-icones {
   display: flex;
   margin-top: 40px;
   margin-left: 20px;
   font-size: 16px;
   color: #ffffff;
}
 
.equipes,
.organograma {
   display: flex;
   align-items: center;
   margin-right: 20px;
}  

.span {
   margin-left: 12px;
}

.icone-equipe {
   width: 40.5px;
   height: 45px;
   color: #ffffff;
   transition: 0.5s;
}

.icone-org {   
   width: 43.5px;
   height: 45px;
   color: #ffffff;
   transition: 0.5s;
}

.equipes:hover,
.organograma:hover {
   .icone-equipe {
      color: #0095db;
   }
   .icone-org {
      color: #0095db;
   }
   color: #0095db;
   transition: 0.5s;
   cursor: pointer;
}
 
.no-scroll {
   overflow: hidden;
}
