* {
   font-family: 'Liberation Sans', sans-serif;
}


.navbar.fixed {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
   /* Adicione outros estilos conforme necessário para a barra de navegação fixa */
 }
 
 /* Adicione estilos para o conteúdo abaixo da barra de navegação fixa */
 .app-container {
   padding-top: 60px; /* Ajuste conforme necessário para a altura da sua barra de navegação fixa */
 }