* {
  font-family: 'Liberation Sans', sans-serif;
}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
 
.app-container {
  padding-top: 60px;
}

.faleConosco {
  display: flex;
  height: 300px;
  margin: -8px;
  margin-top: 8px;
  background-color: #102f6b;
}


